
<h2>SignIn</h2>
<button class="btn btn-success mb-3 mr-3" *ngIf = "!authStatus" (click)="onSignIn()"> SignIn </button>
<button class="btn btn-danger mb-3" *ngIf = "authStatus" (click)="onSignOut()"> SignOut </button>
