<li [ngClass]="{'list-group-item mt-2 mb-2' : true,
                'list-group-item-success': deviceStatus === 'ON',
                'list-group-item-danger': deviceStatus === 'OFF'}">
  <h4 [ngStyle]="{color: getColor()}"> Device : {{ deviceName }} and device status is {{getStatus()}}</h4>
  <div class="learn">
    <a [routerLink]="[id]">Learn More</a>
  </div>

  <!--  btn status: TurnON Status-->
  <button class="btn btn-success mr-3 mb-2 mt-3"
          (click)="switchOnOne()"
          [disabled]="deviceStatus === 'ON'">TurnOn</button>
  <!--  btn status: TurnOff -->
  <button class="btn btn-danger mb-2 mt-3"
          (click)="switchOnOff()"
          [disabled]="deviceStatus === 'OFF'">TurnOff</button>
</li>
