<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="auth">Authentification</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="devices">Devices</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
