<div class="col-xs-12">
  <h2>My Devices</h2>
  <p>Last Update: {{lastUpdate | async | date: 'short' | uppercase }}</p>
  <!--list-->
  <ul class="list-group mb-1">
    <app-device *ngFor="let device of devices; let i = index"
                  [deviceIndex]="i"
                  [deviceName]="device.name"
                  [deviceStatus]="device.status"
                  [id]="device.id"></app-device>
  </ul>
  <!--btn-->
  <button class="btn btn-success mr-2"
          (click)="switchOn()">Turn ON</button>
  <button class="btn btn-danger"
          (click)="switchOff()">Turn OFF</button>
</div>
